
@import '../../1/sass/_mixins/border-radius';
@import '../../1/sass/_mixins/box-shadow';
@import '../../1/sass/_mixins/vertical-align';
@import '../../1/sass/_mixins/linear-gradient';
@import '../../1/sass/_mixins/transition';
@import '../../1/sass/_mixins/box-shadow';
@import '../../1/sass/_mixins/box-sizing';

.figure-list {
	list-style: none;
	overflow: hidden;
	margin: 0 6px;
	padding: 0 3px;
	> li {
		display: inline-block;
		vertical-align: bottom;
		width: 110px;
		margin-bottom: 5px;
		> figure {
			margin: 0 auto;
			width: 80px;
			display: inline-block;
			white-space:normal;
            img {
                object-fit: cover ; ///* Do not scale the image */
                object-position: center; ///* Center the image within the element */
                height: 100px;
                width: 80px;
            }
		}
	}
}
.figure-type {
	padding: 0 3px;
	border: 1px solid $title-relations-border;
}

.figure-scrollable {
	display: block;
	position: relative;
	overflow:hidden;
	white-space:nowrap;
	padding-bottom: 10px;
}
